.new-smm__header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: $orange;
		transform: translateY(-100%);
		transition: $transition;

	}

	&.active:before {
		transform: translateY(0);
	}
}

.header__container {
	padding-top: 10px;
	padding-bottom: 10px;
	@include flex(space-between, center);

	&_logo {
		position: relative;
		cursor: pointer;
	}

	@include desktop-sm {
		padding-top: 17px;
		padding-bottom: 17px;
	}
}