.main__header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
  .instagram {
		font-family: $M_Medium;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #ffffff;
		padding: 5px 18px 5px 22px;
		border: 1px solid #FFFFFF;
		border-radius: 111px;
  }
}
