.slider-btn {
	transition: $transition;
	@include size(50px, 50px, 50%);
	border: 1px solid $black;
	background-image: url('../assets/images/slider-arrow.png');
	background-size: 6px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	cursor: pointer;

	&.swiper-button-disabled {
		pointer-events: none;
		opacity: .33;
	}

	&:active {
		transform: scale(.9);
	}

	&.prev {
		transform: rotate(180deg);

		&:active {
			transform: rotate(180deg) scale(.9);
		}
	}

	@include phone {
		@include size(10vw, 10vw, 50%);
	}

	@include desktop-sm {
		@include size(124px, 124px, 50%);
		background-size: 20px;
	}
}


.speakers__swiper {
	.swiper-slide {
		transition: $transition;
	}

	.swiper-slide.swiper-slide-active {
		transform: translateY(100px);
	}

	@include phone {
		.speaker__card {
			width: 60vw;
		}

		.swiper-slide.swiper-slide-active {
			width: 60vw !important;
		}
	}


	@include desktop-sm {
		.swiper-slide.swiper-slide-active {
			transform: translateY(0);
			.speaker__card {
				.speaker__info {
					padding-top: 33px;
				}
			}
		}

		.swiper-slide.swiper-slide-next {
			transform: translateY(-20%);
		}

		.swiper-slide:not(.swiper-slide-next, .swiper-slide-active) {
			.speaker__card {
				.speaker__info {
					padding-top: 53px;
					padding-bottom: 62px;
				}
			}
		}
	}
}

.forWhom__swiper {
	overflow: visible;

	.swiper-slide {
		max-width: 393px;

		.forWhom__card .forWhom__link {
			transition: $transition;
			opacity: 0;
			visibility: hidden;
		}
	}

	.swiper-slide:not(.swiper-slide-active) {
		opacity: .5;
	}

	.swiper-slide.swiper-slide-active {
		.forWhom__card .forWhom__link {
			opacity: 1;
			visibility: visible;
		}
	}

	@include desktop-sm {
		.swiper-slide {
			max-width: 528px;
		}
	}
}

.community__phones-swiper {
		overflow: visible;
		width: calc(100vw - 20px);
}
