.modal.fade.personal-brand(id="question-brand" tabindex="-1" role="dialog")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content.personal-brand
			.modal-header
				button.modal-close(type="button" data-bs-dismiss="modal")
					span
					span
			.modal-body
				h2.modal-title задать вопрос

				form#question-form.form-wrap
					.form-group
						input(type="text" name="name" placeholder="имя*" required)
					.form-group
						input(type="email" name="email" placeholder="почта*" required)
					.form-group
						input(type="text" name="social" placeholder="@instagram*" required)
					.form-group.form-group-area
						textarea(name="question" placeholder="вопрос*" rows="5" required)
					button.custom-btn(type="submit")
						span отправить вопрос