.brand-preloader 
	.brand-preloader__video 
		+imageBrand("preloader-desk1.gif", "preloader-desk").brand-preloader__desktop
		+imageBrand("preloader-mob1.gif", "preloader-mob").brand-preloader__mobile