.modal.fade.personal-brand(id="reservation-brand" tabindex="-1" role="dialog")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				button.modal-close(type="button" data-bs-dismiss="modal")

					span
					span
			.modal-body
				h2.modal-title запись на курс
				form#reservation-brand-form.form-wrap
					input(type="hidden" name="payment" value="")
					.form-group
						input(type="text" name="name" placeholder="имя*" required)
					.form-group
						input(type="email" name="email" placeholder="почта*" required)
					.form-group
						input(type="text" name="social" placeholder="@instagram*" required)
					button.custom-btn(type="submit")
						span связаться со мной
						<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10.5107 0.572754H8.1315V10.8828H10.5107V0.572754Z" fill="#AEFF00"/>
							<path d="M0.200708 0.572754V2.95199L10.5107 2.95199V0.572754L0.200708 0.572754Z" fill="#AEFF00"/>
							<path d="M8.92458 4.14161V2.55545H6.54534L0.200708 8.90009V10.8828H2.18341L8.92458 4.14161Z" fill="#AEFF00"/>
						</svg>