.global-menu.d-flex.d-xl-none.brand-global-menu
	ul.global-menu__links-list
		li.global-menu__links-item
			a.global-menu__link(href="#course") о курсе
		li.global-menu__links-item
			a.global-menu__link(href="#studying") формат
		li.global-menu__links-item
			a.global-menu__link(href="#programs") программа
		li.global-menu__links-item
			a.global-menu__link(href="#rates") оплата
		li.global-menu__links-item.active-smm-zero
			a.global-menu__link(href="/") все курсы
	.btn-row
		button.custom-btn(type="button" data-bs-toggle="modal" data-bs-target="#reservation-brand")
			span забронировать
			<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M10.5107 0.572754H8.1315V10.8828H10.5107V0.572754Z" fill="#AEFF00"/>
				<path d="M0.200708 0.572754V2.95199L10.5107 2.95199V0.572754L0.200708 0.572754Z" fill="#AEFF00"/>
				<path d="M8.92458 4.14161V2.55545H6.54534L0.200708 8.90009V10.8828H2.18341L8.92458 4.14161Z" fill="#AEFF00"/>
			</svg>