.modal.fade(id="success" tabindex="-1" role="dialog")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				button.modal-close(type="button" data-bs-dismiss="modal")
					span
					span
			.modal-body
				h2.modal-title.mb-0 мы скоро с вами свяжемся!