header.header.header_main.header-brand(data-aos="fade-down" data-aos-delay="3000")
	.container 
			a.header__logo(href="/")
				+imageBrand("logo.svg", "Logo")
			ul.header__links-list.d-none.d-xl-flex
				li.header__links-item
					a.header__link(href="#course") о курсе
				li.header__links-item
					a.header__link(href="#studying") формат
				li.header__links-item
					a.header__link(href="#programs") программа
				li.header__links-item
					a.header__link(href="#rates") оплата
			.header-brand__menu.d-flex.d-xl-none
				span
				span
				span
			