footer.footer.footer-brand
	.container-fluid
		.footer__info(data-aos="fadeIn" data-aos-delay="100" data-aos-duration="1000")
			a.footer__logo(href="/")
				+imageBrand("logo.svg", "Logo").copyright-logo__img
			.copyright-logo__info
				p ФЛП Филатов Тимофей Витальевич
				p ИНН 3716410233
		.footer__socials(data-aos="fadeIn" data-aos-delay="150" data-aos-duration="1000")
			a.footer__text(href="/privacy.html") Политика конфиденциальности
			a.footer__text(href="/oferta.html") Договор Оферты
		.footer__socials(data-aos="fadeIn" data-aos-delay="200" data-aos-duration="1000")
			a.footer__text(href="mailto:business@filatovsmm.com") business@filatovsmm.com
			a.footer__text(href="tel:+380633937400") +380633937407
