header#header.main__header
	.container.header__container.main__header
		a.header__container_logo(href="/")
			+mainLogo.header__container_img
		a.header__container_link.instagram(href="https://www.instagram.com/filatov.education/" target="_blank") instagram