header#header.new-smm__header
	.container.header__container(data-aos='fade-down-20')
		a.header__logo(href="/")
			+logo.header__container_logo(data-scroll-to='#hero')
		include ../components/new-smm/menu-burger