footer#footer.new-smm__footer
  .footer__container.container
    .footer__content
      p.confidentiality Конфіденційність <br> Оферта
      .logo
        +logo
        p.name ФОП Філатов Тимофій Віталійович <br> ІНН 3716410233
      .contacts
        a(href='mailto:business@filatovsmm.com') business@filatovsmm.com
        a(href='tel:+380633937407') +380633937407
