#main {
  .main__title {
    position: absolute;
    top: 96px;
    left: 13px;
    font-family: $M_SemiBold;
    font-size: 32px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #000000;
  }

  .new-smm {
    background-color: #fff;
    position: relative;
    .course-container {
      margin-left: 0;
      margin-right: auto;
    }
    .main__course {
      &-icon {
        position: absolute;
        bottom: 39%;
        left: 158px;
        width: 89px;
        height: 89px;
      }
      &-title {
        max-width: 398px;
        width: 100%;
      }
      &-desc {
        max-width: 280px;
        width: 100%;
      }
      &-btn {
        color: #e95200;
      }
    }
  }

  .brand {
    padding-top: 66px;
    background-color: $orange;
    color: #fff;
    .course-container {
      margin-right: auto;
    }
    .main__course {
      &-icon {
        animation: rotateCrown ease-in-out 3s infinite;
        width: 90px;
        height: 87px;
        svg {
          width: 90px;
          height: 87px;
        }
      }
      &-title {
        max-width: 719px;
        width: 100%;
      }
      &-desc {
        max-width: 280px;
        width: 100%;
      }
      &-btn {
				color: #fff;
				&::before {
					background-color: #fff;
				}
      }
    }
  }

  .new-smm,
  .brand {
    width: 100%;
    height: 50vh;
    min-height: 500px;
  }

  .main__course {
    &-title {
      font-size: 94px;
      line-height: 86px;
      letter-spacing: -0.05em;
    }
    &-desc {
      margin-top: 50px;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: -0.05em;
      margin-right: 42px;
      margin-bottom: 40px;
    }
    &-info {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
    &-btn {
      font-size: 24px;
      line-height: 22px;
      letter-spacing: -0.05em;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				background-color: $orange;
				transition: width 0.35s;
				transform-origin: left;
				left: 0;
				bottom: -1px;
				width: 0;
				height: 1px;
			}
    }
		&-btn:hover::before{
			width: 100%;
		}
  }

  .course-container {
    position: relative;
    max-width: 800px;
    padding: 13px 13px 54px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .new-smm .course-container {
    justify-content: flex-end;
  }

  .brand .course-container {
    justify-content: flex-start;
  }

  .main__courses {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 1042px) and (max-height: 1173px) {
    .main__course {
      &-title {
        font-size: 64px;
        line-height: 54px;
      }
      &-desc {
        margin-top: 24px;
        font-size: 16px;
        line-height: 16px;
      }
      &-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
      &-btn {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .brand {
      .main__course {
        &-icon {
          width: 52px;
          height: 51px;
          svg {
            width: 52px;
            height: 51px;
          }
        }
      }
    }
    .new-smm {
      .main__course {
        &-title {
          max-width: 177px;
          width: 100%;
        }
        &-icon {
          width: 52px;
          height: 52px;
        }
      }
    }
    .brand {
      .main__course {
        &-title {
          max-width: 320px;
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    .main__course {
      &-title {
        font-size: 64px;
        line-height: 54px;
      }
      &-desc {
        margin-top: 24px;
        font-size: 16px;
        line-height: 16px;
      }
      &-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
      &-btn {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .new-smm {
      .main__course {
        &-title {
          max-width: 177px;
          width: 100%;
        }
        &-icon {
          width: 52px;
          height: 52px;
        }
      }
    }
    .brand {
      .main__course {
        &-title {
          max-width: 320px;
          width: 100%;
        }
        &-icon svg {
					width: 100%;
          height: 51px;
        }
      }
    }
  }

	@media screen and (max-width: 576px) and (min-height: 1000px) {
    #main .new-smm .main__course-icon {
			bottom: 36%;
			left: 158px;
	}
  }

  @media screen and (min-width: 768px) {
    .course-container {
      padding: 40px;
    }
    .main__title {
      left: 40px;
    }
    .new-smm {
      .main__course {
        &-title {
          max-width: 177px;
          width: 100%;
        }
        &-icon {
          bottom: 36%;
          left: 185px;
        }
      }
    }
  }

	@media screen and (min-width: 577px) and (min-height: 1000px) {
    .new-smm .main__course-icon {
			bottom: 40%;
			left: 225px;
	}
  }

  @media screen and (min-width: 768px) and (min-height: 1000px) {
    .new-smm .main__course-icon {
      bottom: 38%;
      left: 250px;
    }
  }

  @media screen and (min-width: 992px) {
    .main__title {
      font-size: 45px;
      line-height: 74px;
    }
  }

  @media screen and (min-width: 1042px) {
    .new-smm,
    .brand {
      min-height: 600px;
    }
    .brand {
      padding-top: 0;
    }
    .main__courses {
      flex-direction: row;
    }
    .main__course-info {
      align-items: flex-end;
      flex-direction: row;
    }
    .main__course {
      &-desc {
        margin-top: 100px;
        margin-bottom: 0;
      }
    }
    .new-smm,
    .brand {
      height: 100vh;
    }
    .new-smm {
      .course-container {
        margin-left: auto;
        margin-right: 0;
      }
    }
    .new-smm {
      .main__course-icon {
        position: static;
      }
    }
    .new-smm,
    .brand {
      .course-container {
        justify-content: center;
      }
    }
  }

  @media screen and (min-width: 1105px) {
    .main__course-desc {
      margin-right: 82px;
    }
  }

  @media screen and (min-width: 1400px) {
    .main__title {
      font-size: 64px;
      line-height: 100px;
    }
    .main__course-title {
      font-size: 144px;
      line-height: 122px;
    }
  }

  @media screen and (min-height: 968px) {
    .main__title {
      top: 105px;
    }
  }

  @media screen and (max-height: 868px) and (min-width: 1042px) {
    .new-smm {
      .main__course-title {
        padding-top: 89px;
      }
      .main__course-icon {
        position: absolute;
        bottom: 44%;
        left: 250px;
      }
    }
  }

  @media screen and (max-height: 868px) and (min-width: 1400px) {
    .new-smm {
      .main__course-title {
        padding-top: 89px;
      }
      .main__course-icon {
        position: absolute;
        bottom: 41%;
        left: 363px;
      }
    }
  }
}
