.privacy-section {
  padding-top: 87px;
  padding-bottom: 60px;
  min-height: calc(100vh - 71px);

  @include media-breakpoint-up(lg) {
    padding-top: 166px;
  }

	.container {
		@include media-breakpoint-up(xl) {
			padding: 0 120px;
			max-width: 1682px;
		}
	
		@media (min-width: 1199px) and (max-width: 1439px) {
			padding: 0 5vw;
		}
	}

  .section-title {
    font-size: 28px;
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
      font-size: 48px;
    }
  }

  &__text-wrap {
    p {
      font-size: 14px;
      line-height: 24px;

      @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }
}
