$container: 1600px;
$xxl-min: 1600px;
$xl-min: 1200px;
$lg-min: 992px;
$md-min: 768px;
$sm-min: 576px;

// COLORS
$orange: #E95200;
$white: #FFFFFF;
$black: #000000;
$gray: #F7F7F7;
$darkGray: #2D2D2D;

// Brand
$brand-green: #aeff00;
$brand-red: #ff4826;

//Fonts
$M_Medium: Manrope-Medium;
$M_SemiBold: Manrope-SemiBold;

// Transition
$transition: all ease-in-out .3s;

$show: cubic-bezier(0, .55, .45, 1);
