html {
	position: relative;
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: $M_SemiBold, semi-bold;
	font-size: 20px;
	overflow-x: hidden;
}

#main {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

section {
	position: relative;
	overflow:visible
}

.container {
	position: relative;
	max-width: $container;
	margin: 0 auto;

	padding: 0 20px;

	@include table {
		padding: 0 40px;
	}
}

.icon svg {
	height: 100%;
	width: 100%;
}

.orange {
	color: $orange;
}

.slick-slide {
	outline: none !important;
}

// aos
[data-aos] {
	body[data-aos-easing="show-easing"] &,
	&[data-aos][data-aos-easing="show-easing"] {
		transition-timing-function: $show;
	}
}

[data-aos="fade-down-20"] {
	opacity: 0;
	transform: translateY(-20px);
	transition-property: transform, opacity;

	&.aos-animate {
		opacity: 1;
		transform: translateY(0px);
	}
}

[data-aos="dashed-newSmm-icon"] {
	&.aos-animate {
		svg {
			path {
				animation: moveCourseIcon 7s ease-in-out;
			}
		}
	}
}

[data-aos="dashed-n-icon"] {
	&.aos-animate {
		svg {
			path {
				animation: moveNIcon 7s ease-in-out;
			}
		}
	}
}

[data-aos="dashed-year-icon"] {
	&.aos-animate {
		svg {
			path {
				animation: moveYearIcon 7s ease-in-out;
			}
		}
	}
}

body [data-aos-delay='3100'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='3100'].aos-animate {
	transition-delay: 3.1s;
}

body [data-aos-delay='3200'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='3200'].aos-animate {
	transition-delay: 3.2s;
}

body [data-aos-delay='3300'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='3300'].aos-animate {
	transition-delay: 3.3s;
}

body [data-aos-delay='3500'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='3500'].aos-animate {
	transition-delay: 3.5s;
}

body [data-aos-delay='3650'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='3650'].aos-animate {
	transition-delay: 3.65s;
}

body [data-aos-delay='6100'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='6100'].aos-animate {
	transition-delay: 6.1s;
}

body [data-aos-delay='6150'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='6150'].aos-animate {
	transition-delay: 6.15s;
}

body [data-aos-delay='6350'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='6350'].aos-animate {
	transition-delay: 6.35s;
}

body [data-aos-delay='6550'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='6550'].aos-animate {
	transition-delay: 6.55s;
}

body [data-aos-delay='6750'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='6750'].aos-animate {
	transition-delay: 6.75s;
}

[data-aos="fade-right-20"] {
	opacity: 0;
	transform: translate(-20px);
	transition-property: transform, opacity;

	&.aos-animate {
		opacity: 1;
		transform: translateX(0px);
	}
}

[data-aos="fade-up-mask"] {
	transform: translateY(-100%);
	transition-property: transform;

	&.aos-animate {
		transform: translateY(0);
		transition-property: transform;
	}
}

[data-aos="clip-right-short"] {
	clip-path: inset(0% 100% -5% 0%);
	transition-property: clip-path;

	&.aos-animate {
		clip-path: inset(0% 0% -5% 0%);
		transition-property: clip-path;
	}
}

[data-aos="fade-up-20"] {
	opacity: 0;
	transform: translateY(20px);
	transition-property: transform, opacity;

	&.aos-animate {
		opacity: 1;
		transform: translateY(0px);
	}
}

[data-aos="fade-down-mask"] {
	transform: translateY(-100%);
	opacity: 0;
	transition-property: transform;

	&.aos-animate {
		transform: translateY(0);
		opacity: 1;
		transition-property: transform, opacity;
	}
}

[data-aos="scale-100"] {
	transform: scale(0);
	transition-property: transform;

	&.aos-animate {
		transform: scale(1);
		transition-property: transform;
	}
}

[data-aos="clip-right"] {
	clip-path: inset(0% 200% -5% 0%);
	transition-property: clip-path;

	&.aos-animate {
		clip-path: inset(0% 0% -5% 0%);
		transition-property: clip-path;
	}
}

[data-aos="clip-up"] {
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	transition-property: clip-path;

	&.aos-animate {
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
		transition-property: clip-path;
	}
}

[data-aos="clip-down"] {
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition-property: clip-path;

	&.aos-animate {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		transition-property: clip-path;
	}
}

[data-aos="gta-effect"] {
	opacity: 0;
	transition-property: opacity;

	&.aos-animate {
		opacity: 1;
	}
}
