@keyframes bounceOut {
	from {
		transform: scale(1);
	}

	30% {
		transform: scale(0.9);
	}

	66% {
		transform: scale(1.1);
	}

	to {
		transform: scale(1);
	}
}

@keyframes blink {
	from {
		opacity: 1
	}
	50% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes scrollTextNext {
	0% {
		transform: translate(-200%, 0);
	}

	100% {
		transform: translate(0%, 0);
	}
}

@keyframes scrollText {
	0% {
		transform: translate(-100%, 0);
	}

	100% {
		transform: translate(100%, 0);
	}
}

@keyframes moveCourseIcon {
	0% {
		fill: rgba(255, 255, 255, 0);
		stroke-dasharray: 10000px;
		stroke-dashoffset: 10000px;
	}
	100% {
		stroke-dashoffset: 0;
		fill: #EFEFEF;
		stroke: #EFEFEF;
	}
}

@keyframes moveNIcon {
	0% {
		fill: rgba(255, 255, 255, 0);
		stroke-dasharray: 10000px;
		stroke-dashoffset: 10000px;
	}
	100% {
		stroke-dashoffset: 0;
		fill: $orange;
		stroke: $orange;
	}
}

@keyframes moveYearIcon {
	0% {
		fill: rgba(255, 255, 255, 0);
		stroke-dasharray: 10000px;
		stroke-dashoffset: 10000px;
	}
	100% {
		stroke-dashoffset: 0;
		fill: white;
		stroke: white;
	}
}

@keyframes animRedLine {
	0% {
		stroke-dashoffset: 1800;
	}
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes moveCrown {
	0% { 
    stroke-dasharray: 13386px;
		stroke-dashoffset: 13386px;
  }
	100% { 
    stroke-dashoffset: 0;
  }
}

@keyframes rotateCrown {
	0% { 
    transform: rotateY(0);
  }
	100% { 
    transform: rotateY(360deg);
  }
}