mixin programItem(number, title, text)
  .program__item.accordion-item&attributes(attributes)
    h2(class='accordion-header' id='heading' + number)
      button.accordion-button.collapsed(data-bs-toggle="collapse" data-bs-target="#collapse" + number aria-expanded="true" aria-controls="collapse" + number)
        +itemNumber(number < 9 ? '0' + number : number).program__item_count
        h3.program__item_title=title
    .accordion-collapse.collapse(id="collapse" + number aria-labelledby="heading" + number data-bs-parent="#programAccordion")
      .program__item_text.accordion-body
        p!=text
