.reserve-modal(data-modal='reserve')
  .reserve-modal__container.container
    form.reserve-modal__form.reserve__form(action='#')
      h2.reserve__form_title запис на курс
      .reserve__form_fields
        input(placeholder='імя')
        input(placeholder='пошта')
        input(placeholder='@instagram')
      button.reserve__form_submit(type='submit')
        span забронювати зараз
        +arrowIcon
    .reserve-modal__brand
      +newSmmIcon
      +nIcon
