mixin scrollingBar(var1, var2, text1, text2)
  .scrolling-bar&attributes(attributes)
    .scrolling-bar__text-wrap
      while var1++ < 10
        p.text=text1
    .scrolling-bar__text-wrap
      while var2++ < 10
        p.text=text2