.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed;

  .background {
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
  }

	&.header-brand {
		cursor: auto;
		button, div, a {
			cursor: auto;
		}
		@media screen and (min-width: 450px) {
			cursor: none;
			button, div, a {
				cursor: none;
			}
		}
		&:before {
			background-color: #000;
		}
		.header__logo {
			width: 31px;
			height: 33px;
			img {
				object-fit: cover;
			}
			@include media-breakpoint-up(lg) {
				width: 39px;
				height: 42px;
			}
		}
		.container {
			max-width: 1728px;
    	width: 100%;
			padding: 30px 30px 0;
			@include media-breakpoint-up(lg) {
				padding: 30px 72px 0;
			}
			@media screen and (min-width: 1377px) {
				padding: 30px 144px	0;
			}
		}
		&.active .container {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.header__links-item {
			margin-right: 0;
			margin-left: 39px;
			@media screen and (min-width: 1380px) {
				margin-left: 44px;
			}
		}
		.header__link {
			font-family: "Graphik LCG", sans-serif;
			font-weight: 500;
			color: #fff;
			&:before {
				background-color: $brand-green;
			}
	
			&:hover {
				color: $brand-green;
			}
		}
		.header-brand__menu {
			width: 36px;
			height: 22px;
			display: flex;
			position: relative;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;
	
			&.is-opened {
				span {
					&:nth-child(1) {
						top: 50%;
						transform: translateY(-1px) rotate(-45deg);
					}
	
					&:nth-child(2) {
						transform: translateX(100%);
						opacity: 0;
					}
	
					&:nth-child(3) {
						bottom: 50%;
						transform: translateY(1px) rotate(45deg);
					}
				}
			}
	
			span {
				right: 0;
				width: 100%;
				height: 2px;
				display: block;
				position: absolute;
				border-radius: 1px;
				background-color: #fff;
				transition: all 0.35s ease-in-out;
	
				&:nth-child(1) {
					top: 0;
				}
	
				&:nth-child(2) {
					right: 0;
					top: 50%;
					width: 75%;
					transform: translateY(-50%);
				}
	
				&:nth-child(3) {
					bottom: 0;
				}
			}
		}
	}

  &:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    background-color: #fff;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
  }

  &.active {
    &:before {
      transform: translateY(0);
    }

    .background {
      transform: translateY(0);
    }

    .container {
      padding-top: 15px;
      padding-bottom: 15px;

      @include media-breakpoint-up(lg) {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    padding: 15px 15px 0;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

    @include media-breakpoint-up(lg) {
      padding: 40px 120px 0;
    }

    @media (min-width: 992px) and (max-width: 1480px) {
      padding: 40px 5vw 0;
    }
  }

  &__logo {
    width: 26px;
    height: 32px;
    display: block;

    @include media-breakpoint-up(lg) {
      width: 44px;
      height: 47px;
      margin-right: 80px;
    }
  }

  &__menu {
    width: 28px;
    height: 20px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    &.is-opened {
      span {
        &:nth-child(1) {
          top: 50%;
          opacity: 0;
          transform: translateY(-50%);
        }

        &:nth-child(2) {
          transform: translateY(-50%) rotate(45deg);
        }

        &:nth-child(3) {
          transform: translateY(-50%) rotate(-45deg);
        }

        &:nth-child(4) {
          opacity: 0;
          bottom: 50%;
          transform: translateY(50%);
        }
      }
    }

    span {
      left: 0;
      right: 0;
      width: 100%;
      height: 2px;
      display: block;
      position: absolute;
      border-radius: 1px;
      transition: all 0.35s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(4) {
        bottom: 0;
      }
    }
  }

  &__content-wrap {
    display: flex;
    align-items: center;
  }

  &__links-list {
    display: flex;
    align-items: center;
  }

  &__links-item {
    margin-right: 80px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: all 0.4s ease-in-out;

    &:before {
      left: 0;
      right: 0;
      width: 0;
      bottom: -5px;
      content: '';
      height: 2px;
      position: absolute;
      transition: all 0.4s ease-in-out;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }

    @media screen and (min-width: 1199px) and (max-width: 1480px) {
      font-size: 18px;
    }
  }

  &_main {
    .header__logo {
      @include media-breakpoint-up(lg) {
        width: 44px;
        height: 47px;
        margin-right: 0;
      }
    }

    .container {
      @include media-breakpoint-up(lg) {
        padding-left: 100px;
        padding-right: 100px;
      }
    }

    .custom-btn {
      width: 185px;
      height: 36px;

      span {
        font-size: 14px;

        @include media-breakpoint-up(lg) {
          font-size: 16px;
        }
      }

      @include media-breakpoint-up(lg) {
        width: 265px;
        height: 55px;
      }
    }
  }
  
  .custom-btn {
    margin-right: 30px;
  
    &:last-child {
      margin-right: 0;
    }
  }
}
