.personal-brand {
	cursor: auto;
	button, div, a,input, textarea {
		cursor: auto;
	}
	@media screen and (min-width: 450px) {
		cursor: none;
		button, div, a,input, textarea {
			cursor: none !important;
		}
	}
  .modal-dialog {
    max-width: 787px;
  }
  .modal-header {
    padding: 24px 22px 22px;
    @include media-breakpoint-up(sm) {
      padding: 31px 38px 10px;
    }
  }
  .modal-close {
    width: 24px;
    height: 24px;
    @include media-breakpoint-up(sm) {
      width: 32px;
      height: 32px;
    }
  }
  .modal-close:hover {
    span {
      background-color: $brand-green;
    }
  }
  .modal-content {
    background-color: #000 !important;
    border: 2px solid $brand-green !important;
    .modal-title {
      font-family: 'Graphik LCG';
			font-weight: 500;
      color: #fff;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 43px;
      @include media-breakpoint-up(sm) {
        margin-bottom: 45px;
        font-size: 48px;
        line-height: 48px;
      }
    }
		.form-group-area {
			textarea {
				padding: 15px 24px;
				@include media-breakpoint-up(lg) {
					padding: 15px 45px;
				}
			}
		}
    input,
    textarea {
      font-family: 'Graphik LCG';
			font-weight: 500;
      border-radius: 0;
      height: 60px;
      color: #fff;
			padding-left: 24px;
			padding-right: 24px;
      &::placeholder {
        color: #7c7b7b;
      }
      @include media-breakpoint-up(sm) {
        height: 80px;
				padding-left: 45px;
				padding-right: 45px;
      }
    }
    .form-wrap {
      max-width: 258px;
      @include media-breakpoint-up(sm) {
        max-width: 361px;
      }
    }
    .form-group {
      margin-bottom: 4px;
			textarea {
        border-radius: 0;
      }
      @include media-breakpoint-up(sm) {
        margin-bottom: 13px;
      }
    }
    .custom-btn {
			margin-top: 4px;
      font-family: "Helios Ext C", sans-serif;
      width: 258px;
      height: 60px;
      border-radius: 0;
      border: 2px solid $brand-green;
      &:before {
        border-radius: 0;
        background-color: $brand-green;
      }
      span {
        padding-right: 9px;
        color: $brand-green;
      }

      &:hover {
        &:before {
          width: 100%;
        }
        span {
          color: #000;
        }
        svg path {
          fill: #000;
        }
      }
      @include media-breakpoint-up(sm) {
        width: 361px;
        height: 80px;
      }
    }
  }
}

.modal-dialog {
  max-width: 705px;
}

.modal-content {
  border: none;
  border-radius: 0;
}

.modal-header {
  display: flex;
  border-bottom: none;
  align-items: center;
  padding: 15px 15px 10px;
  justify-content: flex-end;

  @include media-breakpoint-up(lg) {
    padding: 30px 30px 10px;
  }
}

.modal-close {
  padding: 0;
  width: 32px;
  height: 32px;
  position: relative;

  span {
    top: 50%;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    border-radius: 2px;
    background-color: #c5c5c5;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out;

    &:nth-child(1) {
      transform: translateY(-50%) rotate(45deg);
    }

    &:nth-child(2) {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

.modal-body {
  padding: 0 15px 60px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 80px;
  }
}

.modal-title {
  width: 100%;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  line-height: normal;
  margin-bottom: 30px;

  @include media-breakpoint-up(lg) {
    font-size: 48px;
    margin-bottom: 35px;
  }
}

.form-wrap {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 260px;
  align-items: center;
  flex-direction: column;

  .custom-btn {
    width: 100%;
    max-width: 100%;
  }
}

.form-group {
  width: 100%;
  margin-bottom: 15px;

  &.form-group-area {
    textarea {
      height: auto;
      resize: none;
      padding: 15px 24px;
      border-radius: 16px;
    }
  }

  input,
  textarea {
    margin: 0;
    width: 100%;
    height: 48px;
    display: flex;
    padding: 0 20px;
    font-size: 16px;
    align-items: center;
    border-radius: 32px;
    border: 2px solid #c5c5c5;

    @include media-breakpoint-up(lg) {
      height: 56px;
      padding: 0 24px;
    }

    &::placeholder {
      color: #c5c5c5;
    }
  }
}
