.section-title {
	font-size: 32px;
	font-weight: 500;
	position: relative;

	@include media-breakpoint-up(lg) {
		font-size: 64px;
	}
}

.section-title, .section-sub-title {
	& > span {
		overflow: hidden;
		margin-right: 7px;
		line-height: normal;
		display: inline-block;

		@include media-breakpoint-up(lg) {
			margin-right: 18px;
		}

		&:last-child {
			margin-right: 0;
		}

		span {
			line-height: normal;
			display: inline-block;
			transform: translateY(100%);
		}
	}
}

.form-error {
	color: red;
	width: 100%;
	margin-top: 15px;
	text-align: center;
}
