extends ../layouts/layout

include ../helpers/_mixins
include ../helpers/_icons

block vars
	- var page = 'main'

append content
	main#main
		section.main-page-section
			.main__courses
				.main__course.new-smm
					.course-container
						.main__title(data-aos="fade-up-20" data-aos-delay="100")
							h1 наші курси:
						+nIcon(data-aos="dashed-n-icon" data-aos-delay='100').main__course-icon
						h2.main__course-title(data-aos="fade-up-20" data-aos-delay=`200`) новий smm
						.main__course-info(data-aos="fade-up-20" data-aos-delay=`300`)
							p.main__course-desc просунутий курс <br /> по маркетингу в соцмережах, <br /> розроблений на основі нових <br /> воєнних реалій ринку
							a.main__course-btn(href="/new-smm.html")
								span докладніше
				.main__course.brand
					.course-container
						+crown.main__course-icon
						h2.main__course-title(data-aos="fade-up-20" data-aos-delay=`200`) особистий брéнд
						.main__course-info(data-aos="fade-down-20" data-aos-delay=`300`)
							p.main__course-desc авторський курс <br /> по розвитку <br /> особистого бренду <br /> digital-спеціаліста
							a.main__course-btn(href="/personal-brand.html")
								span докладніше
