doctype html
html(lang="en")
	head
		include ../sections/head

	body
		if page === 'new-smm'
			include ../sections/smm-header
		else if page === 'personal-brand'
			include ../sections/brand-header
		else
			include ../sections/main-header

		block content

		if page === 'new-smm'
			include ../sections/smm-footer
		else if page === 'personal-brand'
			include ../sections/brand-footer
		else
			include ../sections/main-footer

		if page === 'new-smm'
			include ../components/new-smm/menu-sidebar
			include ../components/new-smm/reserve-modal
			include ../components/new-smm/success
		else if page === 'personal-brand'
			include ../components/brand/brand-menu
			include ../components/brand/brand-question
			include ../components/brand/brand-reservation
			include ../components/brand/success